.accordion-tabs {
    :first-child a {
        margin-left: 20px;
    }
    a.ajax_add_to_cart {
        margin: 0;
    }
    .tab-header-and-content {
        text-align: center;
        font-size: $font-huge;
        a {
            width: 23.7%;
            @media screen and (max-width: $phone-mode) {
                width: 87%;
                margin-left: 20px;
                color: firebrick;
            }
            @media screen and (min-width: $phone-mode) and (max-width:$tablet) {
                color: #00a0d2; // TEST purpose
            }
            @media screen and (min-width: $tablet) and (max-width: $tablet-max-landscape) {
                color: darkorchid; // TEST purpose
            }
        }
    }
    .tab-content {
        padding: 0 !important;
        background: $color__background-transparent !important;
        table {
            width: 100%;
            white-space: normal;
            border-collapse: separate;
            border-spacing: 5px;
            border:none;
            background: $color__background-transparent !important;
            thead {
                opacity: 0.8;
                tr {
                    &:first-child{                                                           // Subcategory header tab
                        background-color: $color__background-body;
                        td {
                            padding-top: 6px;
                            padding-bottom: 6px;
                        }

                    }
                    &:last-child {
                        background-color: $color__main-creamwhite;
                    }
                    td {
                        text-align: center;
                        span {
                            font-size: $font-small;
                        }
                    }
                }
            }
            tbody {
                opacity:0.7;
                :nth-child(2n) {
                    padding: 0;
                    font-weight: bold;
                }
                td {
                    background: $color__background-body;
                    height: 100px;
                    &:nth-child(2){
                        color: $color__main-pink;
                    }
                    &:nth-child(1){
                        min-width: 100px;
                        font-weight: bold;
                        padding: 10px;
                    }
                    font-size: $font-huge;
                    font-weight: 300;
                    text-align: center;
                }
            }
            tfoot {
                &::before {
                    content: '';
                    display: block;
                    height: 10px;
                }
                td {
                    border-collapse: collapse !important;
                    background: rgba(255, 255, 255, 0.8);
                    height:100px;
                    font-size: $font-small;
                    img {
                        float: left;
                    }
                }
            }
        }
        h5 {
            font-size: $font-large;
            text-align: center;
            &+p {
                font-size: $font-small;
                text-align: center;
            }
        }
        p {
            margin-top: 10%;
            font-size: $font-normal;
            text-align: right;
        }
    }
    li.club-cards {
        .limiter {
            height: 1.5em;
        }
        .mdl-cell:nth-of-type(4n){
            h5 {
                font-size: $font-huge;
            }
            .horizontal-category-layout {
                margin: 0 -8px !important;
                width:calc(100% + 16px);
            }
            .mdl-cell {
                display: inline-block;
                float: left;
                margin-top: 0;
                table {
                    tr {
                        td {
                            &:first-of-type {
                                color: $color__text_balance;
                                width:38%;
                            }
                            &:last-of-type {
                                width:26%;
                            }
                        }
                    }
                }
            }
        }
        table {
            thead {
                &:first-child {
                    tr:nth-of-type(2) {
                        // Subcategory descriptions
                        height: 480px;
                        img {
                            float: left;
                            padding-right: 10px;
                            padding-bottom: 15px;
                        }
                        .club-cards-description {
                            text-align: left;
                            margin-bottom: 25px;
                        }
                    }
                }
                th {
                    font-size: $font-huge;
                    text-align: center;
                    height: 40px;
                }
            }
            tbody {
                tr {
                    td {
                        &:first-child {
                            color: $color__main-pink;
                        }
                        &:last-child {
                            width: 25%;
                        }
                    }
                }
            }
        }
    }
    li.skirent {
        .mdl-cell{
            &:nth-child(3n-1), &:nth-child(3n-3){
                tbody td {
                    &:first-child {
                        display: none;
                    }
                    color: $color__main-pink;
                    width: 77%;
                }
            }
            &:last-child { // skirent section footer
                table {
                    tbody {
                        opacity: 0.8;
                    }
                    td {
                        font-size: $font-normal;
                        height: 70px;
                    }
                    img {
                        margin: 0 20px;
                    }
                }
            }
        }
        table {
            thead td {
                background-color: $color__background-body;
                height: 90px;
                p {
                    margin: 0;
                }
                h5 {
                    margin: 5px 0 5px;
                }
            }
            tbody {
                td {
                    height: 70px;
                    font-size: $font-large;
                    padding: 5px !important;

                }
                p {
                    padding: 0;
                    text-align: center;
                    margin: 0;
                    font-size: $font-small;
                }
            }
        }
    }
    li.skipass-ballance {
        .wrong-card, .empty-card {
            color: $color__main-pink;
        }
        .server-error {
            color: $color__main-blue;
        }
        table {
            thead {
                opacity:0.9;
                tr {
                    td {
                        background-color: $color__background-body;
                        form div {
                            right: 5%;
                        }
                        button {
                            left: 5%;
                        }
                    }
                }
            }
            tbody.skipass-ballance-result {
                opacity: 1;
                #order_info_header_white table tbody {
                    opacity: 1;
                }
                &:before {
                    content: "-";
                    display: block;
                    line-height: 1em;
                    color: transparent;
                }
                tr {
                    td {
                        height: 80px;
                        font-size: $font-large;
                    }
                }
                >tr:nth-of-type(2) {
                    background: $color__background-transparent;
                    .not-used-card {
                        background: $color__background-body;
                        opacity:0.9;
                    }
                    td {
                        margin: 0;
                        padding: 0;
                        background: transparent;
                        table {
                            padding: 0 !important;
                            margin: 0 -10px !important;
                            border-spacing: 10px 0;
                            width:calc(100% + 20px);
                            tr {
                                opacity: 0.8;
                                &:first-of-type {
                                    opacity: 0.9 !important;
                                    td {
                                        height: 70px;
                                        font-size: $font-large;
                                        font-weight: bold;
                                        background: $color__background-body;
                                    }
                                }
                                &:nth-of-type(2){
                                    height:10px;
                                }
                                td {
                                    height: 40px;
                                    font-size: $font-normal;
                                    font-weight: normal;
                                    color: $color__text_balance;
                                    cursor: pointer;
                                    border:none;
                                    background: $color__background-body;
                                }
                            }
                        }
                    }
                }
                >tr:nth-of-type(3) {
                    opacity: 0.9;
                    td {
                        span {
                            color: $color__text_deepskyblue;
                        }
                        &:last-child {
                            display: none;
                        }
                    }
                }
                >tr:first-of-type {
                    opacity: 0.9;
                    td {
                        span {
                            &:first-child {
                                float: left;
                                margin-left: 1.1em;
                                span {
                                    float :none;
                                    color: $color__text_deepskyblue;
                                }
                            }
                            &:last-child {
                                float:right;
                                margin-right: 0.5em;
                                span {
                                    float :none;
                                    color: $color__text_deepskyblue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}