.payment-and-delivery {
    background-color: transparent;
    border: none;
    box-shadow: none;
    .entry-content {
        margin-top: 3em;
        padding: 0;
    }
    .block-item {
        .block-header {
            background-color: $color__background-body;
            opacity: 0.8;
            height:70px;
            color: $color__text_deepskyblue;
            font-size: $font-xtra-huge;
            font-weight: 500;
            padding: 1.2em 0 0 1.5px;
        }
        .block-copy {
            background-color: $color__background-body;
            opacity: 0.6;
            padding:2em 5em 2em 3em;
            ul li {
                font-size: $font-large;
                color: $color__text_balance;
                line-height: 1.5;
            }
            p {
                font-size: $font-large;
                line-height: 1.5;
            }
        }
    }
}
