.payment-and-delivery {
    background-color: transparent;
    border: none;
    box-shadow: none;
    header {
        text-transform: uppercase;
    }
    .entry-content {
        margin-top: 42px;
        padding: 0;
    }
    .block-item {
        .block-header {
            background-color: $color__background-body;
            opacity: 0.8;
            height:70px;
            color: $color__text_deepskyblue;
            font-size: $font-xtra-huge;
            font-weight: 500;
            padding: 24px 0 0 45px;
        }
        .block-copy {
            background-color: $color__background-body;
            opacity: 0.6;
            padding:28px 70px 28px 42px;
            ul li {
                font-size: $font-large;
                color: $color__text_balance;
                line-height: 1.5;
            }
            p {
                font-size: $font-large;
                line-height: 1.5;
            }
        }
    }
}
