.promotions-page {
    background: transparent;
    .accordion {
        margin-bottom: 0;
    }
    .mdl-card__media {
        opacity: 0.8;
    }
    .entry-content {
        padding: 0;
        opacity: 0.8;
    }
    .submenu {
        div.mdl-cell {
            margin: 0;
            padding: 0;
        }
        .mdl-cell--6-col:nth-child(2n-1) {
            margin-right: 18px !important;
        }
        table {
            width:100%;
            font-size: $font-large;
            border-collapse: separate;
            border-spacing: 16px;
            background: transparent;
            border:none;
            td {
                border: none;
                text-align: center;
                span {
                    font-size: $font-small;
                }
                background-color: $color__background-body;
            }
            thead {
                tr {
                    &:first-of-type {
                        td {
                            font-weight: bold;
                        }
                    }
                    td {
                        font-size: $font-huge;
                    }
                }
            }
            tbody {
                td {
                    height: 70px;
                }
            }
            tfoot {
                td {
                    height: 100px;
                    img {
                        float: left;
                        margin: 0 2em;
                    }
                    div {
                        display: inline-block;
                        float: left;
                        margin-left: 2em;
                        text-align: left;
                        span {
                            font-size: $font-normal;
                        }
                    }
                }
            }
        }
        .promotion-post-skirent, .promotion-post-snowboardrent, .promotion-post-othersrent {
            margin-bottom: 30px !important;
            table {
                margin:0 -16px;
                width:calc(100% + 48px);
                thead {
                    tr:first-child {
                        td span {
                            font-weight: normal;
                        }
                    }
                    tr:last-child {
                        td {
                            font-size: $font-small;
                        }
                    }
                }
                tbody {
                    td {
                        &:not(:first-of-type) {
                            color: $color__main-pink
                        }
                    }
                }

            }
        }

        .promotion-post-earlybird, .promotion-post-allout {
            float: left !important;
            display: inline-block !important;
            width: calc(50% - 10px);

            table {
                margin: 0 -17px !important;
                width: calc(100% + 34px) !important;
                thead {
                    tr {
                        &:first-child {
                            td {
                                height: 70px;
                            }
                        }
                        &:last-child {
                            td {
                                padding-top: 0;
                                padding-bottom: 0;
                            }
                        }
                    }
                }
                tbody {
                    td {
                        &:not(:first-of-type) {
                            color: $color__main-pink
                        }
                    }
                }
            }
        }
        .promotion-post-club-cards, .promotion-post-club-cards-vip  {
            @extend .promotion-post-earlybird;
            thead {
                tr {
                    &:nth-of-type(2) {
                        td {
                            font-size: $font-huge !important;
                            height: 40px;
                            padding-top:6px;
                            padding-bottom:6px;
                            color: $color__text_deepskyblue;
                        }
                    }
                }
            }
            tbody {
                tr {
                    &:nth-of-type(2) {
                        td {
                            height: 40px;
                            padding-top:6px;
                            padding-bottom:6px;
                            color: $color__text_balance !important;
                        }
                    }
                    td {
                        color: $color__main-pink;
                    }
                }
            }
        }
        .promotion-post-club-cards-vip {
            table {
                thead {
                    tr {
                        td {
                            height: 126px !important;
                        }
                    }
                }
            }
        }
        .promotion-post-club-cards-vauchers {
            @extend .promotion-post-allout-footer;
            thead {
                tr {
                    &:first-of-type {
                        td {
                            height: 70px;
                        }
                    }
                    &:last-of-type {
                        td {
                            height: 40px;
                            padding-top:6px;
                            padding-bottom:6px;
                            &:not(:first-of-type) {
                                color: $color__text_deepskyblue;
                            }
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        height: 100px;
                        &:not(:first-of-type) {
                            color: $color__main-pink
                        }
                    }
                }
            }
        }
        .promotion-post-allout-footer, .promotion-post-earlybird-footer {
            table {
                margin: 0 -17px !important;
                width: calc(100% + 48px) !important;
            }
        }
    }
    .promotions {
        li {
            .js-accordion-trigger {
                font-size: $font-xtra-huge;
                height: 70px;
                background-color: $color__background-body;
                padding-left: 1em !important;
                color:$color__text_promotion;
                img {
                    float: right;
                }
            }
            .excerpt-filled {
                width: 80%;
                padding-left: 5em;
                font-size: $font_large;
                color: $color__text_balance;
            }
        }
    }
}
